/* Hoja de estilos */
* {
    background-color: rgb(237, 237, 237);
    margin: 10px;
    padding: 10;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  width:320px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
  margin: 20px
}
.titulo{
  font-size: 18px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  padding: 10px;
}
.pie a{
  text-decoration: none;
  color: rgb(74, 74, 74);
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}
.container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

th{
  background-color: #04AA6D;
  color: white;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  font-size: small;
}

table.table.cotizacion {
  font-size: 11px;
  font-family: 'Expert-Sans-Regular', helvetica, arial, clean, sans-serif;
  margin-bottom: 0;
  width:100%;
}

table.table.cotizacion td{
  border-top: none;
  border-bottom: 1px solid #ccc;
  width: 25%;
  padding: 4px 0px;
  text-align:right;
}

table.table.cotizacion td.tit{
  width: 50%;
  text-align:left;
}

table.table.cotizacion th{
  padding: 5px;
  border-top: none;
  border-bottom: 1px solid #ccc;
  text-align:right;
  border-top: 0px!important;
  font-size: 13px;
  color: #777!important;
}