/* Hoja de estilos */
* {
    background-color: rgb(237, 237, 237);
    margin: 10px;
    padding: 10;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  width:320px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
  margin: 20px
}
.titulo{
  font-size: 18px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  padding: 10px;
}
.pie a{
  text-decoration: none;
  color: rgb(74, 74, 74);
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}
.container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

