/* Hoja de estilos */
* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: rgb(244, 244, 244);
  }
  .header{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;  
    flex-wrap: wrap;
  }
.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  width:320px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
  margin: 20px;
  padding-bottom: 10px;
}
.titulo{
  font-size: 16px;
  padding: 10px;
  color: rgb(112, 112, 112);
  font-weight: 600;
  margin-top: 10px;
}
.cuerpo{
  padding: 10px;
}
.pie a{
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-size: 14px;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}
.container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.button{
  background-color: #87AD0A;
  border-color: transparent;
  border-radius: 6px; 
  margin-right: 10px;
  justify-items: center;
  height: 45px;
}
.button:hover{
  opacity: 0.8;
  border-color: transparent;
  transform: scale(1.1);
}
.button-text{
  background-color: transparent;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.footer{
  display:flex;
  flex-direction:column;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #87AD0A;
  margin-top: 100px;
}
.nav-footer{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: center;
}
.nav-header{
  display: flex;
  align-items: center;
}
.nav-link{
  text-decoration: none;
  color: rgb(112, 112, 112);
  background-color: transparent;
  margin: 20px;
}
.nav-link:hover{
  color: #a2cf10;
}
.nav-link-footer{
  text-decoration: none;
  color: white;
  background-color: transparent;
  margin: 20px;
}
.nav-link-footer:hover{
  color: #a2cf10;
}
.footer-bottom{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.copy{
  background-color: transparent;
  color: white;
  align-self: center;
  margin-bottom: 20px;
}
.contacto{
  color: white;
  background-color: transparent;
}
.contacto-link{
  background-color: transparent;
  color: white;
  text-decoration: none;
}
th{
  background-color: #87AD0A;
  color: white;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  font-size: small;
}

table.table.cotizacion {
  font-size: 11px;
  font-family: 'Expert-Sans-Regular', helvetica, arial, clean, sans-serif;
  margin-bottom: 0;
  width:100%;
}

table.table.cotizacion td{
  border-top: none;
  border-bottom: 1px solid #ccc;
  width: 25%;
  padding: 4px 0px;
  text-align:right;
}

table.table.cotizacion td.tit{
  width: 50%;
  text-align:left;
}

table.table.cotizacion th{
  padding: 5px;
  border-top: none;
  border-bottom: 1px solid #ccc;
  text-align:right;
  border-top: 0px!important;
  font-size: 13px;
  color: #777!important;
}
.quienes-somos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.container-home{
  align-items: center; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 20%;
  margin-top: 100px;
}
.container-cotizaciones{
  display: flex; 
  justify-content: center;
  padding-left: 10%;
  padding-right: 20%;
  margin-top: 40px;
}
.staff-text{
  color: rgb(112, 112, 112);
  margin: 5px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; 
background-color: transparent;
}
.big-title{
  color: #87AD0A; 
  font-size: 40px; 
  font-weight:bold; 
  margin-top: 5px;
  margin-bottom: 10px;
  animation: moveToRight 2s ease-in-out;
  animation-delay: 1000ms;
}
@keyframes moveToRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}
.footer-cotizaciones{
  display:flex;
  flex-direction:column;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #87AD0A;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
h2{
  color: #777;
}
